*:not(h1, h2, h3, h4, h5, h6, p) {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
  }
  
  header {
    height: 69px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index:10;

  }
  
  .logo {
    margin: 0 10px;
    height: 50px;

  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  #mission {
    margin: 69px;
    background-image: url(./images/img-mission-background.jpg);
    width: 1200px;
    height: 700px;
    flex-direction: column;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .mission-text {
    background-color: black;
    width: 100%;
    opacity: 1;
    margin: 0;
    padding: 0;
  }

  .mission-text > h2 {
    margin-top: 0;
    margin-bottom: 15px;
  }

  .mission-text > h4 {
    margin-top: 15px;
    margin-bottom: 0;
  }

.featured {
    box-sizing: border-box;
    width: 1000px;
    height: 700px;
}

.featured-header > h2 {
    margin-top: 0;
    margin-bottom: 15px;
  }

  .featured-header > h4 {
    margin-top: 15px;
    margin-bottom: 0;
  }

.images {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

figcaption {
    margin-top: 10px;
}

#locations {
    background-image: url(./images/img-locations-background.jpg);
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#locations h2 {
    margin: 0;
    padding: 0;
}

.locations {
    display: flex;
    justify-content: center;
    background-color: transparent;
    align-items: center;
}

.location-det {
    background-color: black;
    opacity: 1;
    margin: 15px 20px;
    width: 300px;
}

.contact {
    height: 200px;
    width: 100%;
}

footer {
    text-align: left;
    position: absolute;
    left: 20px;
}